* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

/* NAV NEXTUI */
nav {
  position: fixed !important;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw !important;
  z-index: 1;
}


